.login-container {
    min-width: 300px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 1.5em;
  }

  .login-form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5em;
    text-align: left;
  }
  
  .form-label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  .form-input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: calc(1.75vmin);
  }
  
  .error-message {
    color: red;
    margin-bottom: 0.5em;
  }
  
  .submit-button {
    width: 100%;
    padding: 0.5em;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: calc(1.75vmin);
    margin-bottom: 1em ;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
    color: aquamarine;
  }
  .google-button{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1em ;
    justify-content: center;
  }
  .google-logo{
    height: 3vmin;
    pointer-events: none;
  }